.header {
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    background-image: url("../images/background_header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.header__title {
    font-family: "Inter", Arial, sans-serif;
    max-width: 729px;
    margin-top: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 28px;
    
}

.header__address {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font: 16px;
    line-height: 20px;
}

.header__description {
 font-family: "Noto Serif", "Times New Roman", serif;
 max-width: 729px;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  /* padding-top: 20px; */
  z-index: 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.header__image {
    max-width: 646px;
    max-height: 568px;
    right: 5px;
    top: 124px;
    z-index: -1;
    position: absolute;
}

.header__footer {
    width: 100%;
    position: absolute;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    left: 0px;
    bottom: 0;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

/* .header__link {
    color: #2f80ed;
    text-decoration: none;
} */

/* .header__link:hover {
    color: #2F80ED;
} */

.header__span-accent {
    display: block;
    width: 100%;
    font-weight: 400;
    font-family: "Noto Serif","Times New Roman", serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}

.header__paragraph {
    text-decoration: none;
    font-family: "Inter", Arial, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-top: 0;
    margin: 0;
}

/* .header__paragraph_address{
      margin-right: 80px;
  color: #6F6F6F;
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 2;
} */