.logo {
  position: relative;
  width: 125px;
  height: 142px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 80px;
  background-color: #FFFFFF;
  background-image: url("https://code.s3.yandex.net/web-code/logo_coffee_shop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
