.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 125px;
  height: 142px;
  background-color: #FFFFFF;
  background-image: url("https://code.s3.yandex.net/web-code/logo_coffee_shop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
