.menu {
  color: white;
  background-image: url("../images/background_menu.svg");
  background-color: #0a2750;
  padding: 100px 100px 45px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
} */
}
.menu__title {
 font-family:  "Inter", "Arial", sans-serif;
 font-weight: 500;
 font-size: 44px;
 font-style: normal;
 line-height: 52px;
 text-align: center;
 padding-top: 100px;
 margin: 0;
 margin-bottom: 0;
}

.menu__subtitle {
 font-family: "Noto Serif", "Times New Roman", serif;
 width: 780px;
 margin-left: 80px;
 margin-bottom: 0;
 font-size: 20px;
 text-align: center;
 line-height: 30px;
  padding-top: 24px;
  color: #fff;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 100px 100px;
  gap: 100px;
}

 .menu__cards:last-of-type {
  justify-content: center;
} 