.recipes__title {
    max-width: 580px;
    font-size: 80px;
    line-height: 100px;
    font-weight: 80px;
}

.recipes__subtitle {
    text-align: center;
    font-size: 24px;
}

.recipes__image {
    background-color: #FFFFFF;
    background-image: url(../images/background_recipes.svg);
    position: center;
    text-align: cover;
}

.recipe__videos {}

.recipe__iframe {}

.recipes__video-caption {}